<section class="container-fluid m-0 p-0">
  <div class="banner banner-img"></div>
  <div class="container my-5">
    <div class="row">
      <div class="col-xl-auto col-12 text-center">
        <img src="./assets/IRH-Banner-Vertical.jpg" alt="logo_IRH">
      </div>
      <div class="col-12 col-xl">
        <h1 class="txt-primary text-center h1"> NUESTRA MISIÓN </h1>
        <p class="normal-text mt-5">
          Ofrecer un marco de referencia que le den sentido al ser y quehacer de todos aquellos interesados en la
          participación política para contribuir a la formación de líderes comprometidos con los cambios profundos que
          el mundo y
          nuestra sociedad necesitan.
        </p>
      </div>
      <div class="col-12 text-center">
        <div class="line bg-primary"></div>
      </div>
      <div class="col-12 text-center mt-5">
        <h1 class="txt-primary text-center h1"> NUESTRA VISIÓN </h1>
        <p class="normal-text mt-5">
          Ser un referente a nivel nacional e internacional en la formación política de nuevos liderazgos sociales, en
          la capacitación de la estructura del partido y de los gobiernos emanados de nuestras filas, congruentes con
          una
          visión de lo que la gestión y el ejercicio público deben ser.
        </p>
      </div>
    </div>
  </div>
  <div class="mb-0 gray-texture py-5">
    <h2 class="h1 txt-primary text-center">HISTORIA</h2>
    <div class="row mt-5">
      <div class="col-xl-6 col-12 time-wrapper">
        <p class="time-text">
          Jesús Reyes Heroles, uno de los pensadores políticos más
          trascendentes de nuestro país e ideólogo fundamental
          del Partido Revolucionario Institucional, funda el primer
          centro de enseñanza política del partido. Con una visión
          clara de lo que el estudio, la reflexión profunda y el
          discernimiento racional le aportan a los sutiles equilibrios
          en el ejercicio del poder para el justo desarrollo social de
          la nación, Jesús Reyes Heroles influyó definitivamente en
          la construcción de la democracia mexicana.
        </p>
      </div>
      <div class="col-xl-1 d-none d-xl-block">
        <img src="./assets/HISTORIA-Linea-Punteada.png" alt="">
      </div>
      <div class="col-xl-3 col-12 circle-time-wrapper order-first order-xl-last mb-4 mb-xl-0">
        <h1 class="text-center h1 circle-time"> 1971 </h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xl-5 circle-time-wrapper justify-content-end">
        <h1 class="text-center h1 circle-time"> 1997 </h1>
      </div>
      <div class="col-xl-1 offset-xl-1 d-none d-xl-block">
        <img src="./assets/HISTORIA-Linea-Punteada.png" alt="">
      </div>
      <div class="col-xl-5 time-wrapper">
        <p class="time-text">
          Con los fundamentos ideológicos legados del maestro
          Reyes Heroles se crea el Instituto De Capacitación y
          Desarrollo Político (Icadep), órgano formativo del Partido
          Revolucionario Institucional.
        </p>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-6 col-12 time-wrapper">
          <p class="time-text">
              El Instituto de Capacitación y Desarrollo Político se
              transforma y se nombra Instituto de Formación Política
              Jesús Reyes Heroles, en homenaje al fundador de la
              concepción formativa dentro del partido y como
              reconocimiento al legado ideológico que hoy se
              manifiesta tan vigente como el primer día. 
          </p>
        </div>
        <div class="col-xl-1 d-none d-xl-block">
          <img src="./assets/HISTORIA-Linea-Punteada.png" alt="">
        </div>
        <div class="col-xl-3 col-12 circle-time-wrapper order-first order-xl-last mb-4 mb-xl-0">
          <h1 class="text-center h1 circle-time"> 2017 </h1>
        </div>
      </div>
  </div>
</section>