<section class="container-fluid m-0 p-0">
  <div class="banner banner-img"></div>
  <!-- parte 1 -->
  <div class="mb-0 gray-texture py-5">
    <h1 class="txt-primary text-center h1"> DOCUMENTOS BÁSICOS </h1>
    <div class="container mt-5">
      <div class="row">
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-DeclaraciondePrincipios.png" alt="DeclaraciondePrincipios">
          <p class="d-title my-2"> DECLARACIÓN DE PRINCIPIOS <a href="http://irhjal.org.mx/documentos-basicos/DeclaraciondePrincipios2017.pdf" target="_blank" ><img src="./assets/download.png"
                alt="descargar"></a> </p>
          <p class="d-text">
            ¿Cómo ser protagonistas de la transformación de México
            en el siglo XXI, manteniendo vigentes los valores de
            libertad, democracia, justicia social y soberanía?.
          </p>
        </div>
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-Estatutos.png" alt="DOCUMENTOS-Estatutos">
          <p class="d-title my-2"> ESTATUS<a href="http://irhjal.org.mx/documentos-basicos/Estatutos2017.pdf" target="_blank" ><img src="./assets/download.png" alt="descargar"></a> </p>
          <p class="d-text">
            Estatutos del Partido Revolucionario Institucional
            aprobados el 12 de agosto de 2017 en sesión plenaria
            durante XXII Asamblea Nacional Ordinaria.
          </p>
        </div>
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-Plandeaccion.png" alt="DOCUMENTOS-Estatutos">
          <p class="d-title my-2"> PROGRAMA DE ACCIÓN <a href="http://irhjal.org.mx/documentos-basicos/ProgramadeAccion2017.pdf" target="_blank"><img src="./assets/download.png" alt="descargar"></a>
          </p>
          <p class="d-text">
            Los 6 ejes y las 4 causas transversales que articulan y
            dan sentido a nuestro programa de acción.
          </p>
        </div>
      </div>
      <div class="row justify-content-around mt-xl-5">
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-Rendiciondecuentas.png" alt="DeclaraciondePrincipios">
          <p class="d-title my-2"> RENDICIÓN DE CUENTAS Y ÉTICA <a href="http://irhjal.org.mx/documentos-basicos/RendiciondeCuentasyEtica_2017.pdf" target="_blank"><img src="./assets/download.png"
                alt="descargar"></a> </p>
          <p class="d-text">
            ¿Cómo construimos la nueva relación del Partido con el
            poder y con la ciudadanía, bajo principios de honestidad,
            transparencia y rendición de cuentas?
          </p>
        </div>
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-Visiondelfuturo.png" alt="DOCUMENTOS-Estatutos">
          <p class="d-title my-2"> VISIÓN DE FUTURO <a href="http://irhjal.org.mx/documentos-basicos/VisiondeFuturo2017.pdf" target="_blank"><img src="./assets/download.png" alt="descargar"></a>
          </p>
          <p class="d-text">
            ¿Qué México queremos construir, frente a los nuevos
            desafíos y tendencias en el contexto global?
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- parte 2 -->
  <div class="mb-0 red-texture py-5">
    <h1 class="text-white text-center h1"> PRESENTACIONES DE <br> DOCUMENTOS BÁSICOS </h1>
    <div class="container mt-5">
      <div class="row">
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-DeclaraciondePrincipios.png" alt="DeclaraciondePrincipios">
          <p class="d-title text-white my-2"> CÓDIGO DE ÉTICA <a href="http://irhjal.org.mx/documentos-basicos/codigodeetica.ppsx" target="_blank"><img src="./assets/download.png"
                alt="descargar"></a> </p>
          <p class="d-text text-white">
            Presentación sintética con los fundamentos básicos de
            nuestro Código de Ética
          </p>
        </div>
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-Estatutos.png" alt="DOCUMENTOS-Estatutos">
          <p class="d-title text-white my-2"> DECLARACIÓN DE PRINCIPIOS<a href="http://irhjal.org.mx/documentos-basicos/declaraciondeprincipios.ppsx" target="_blank"><img src="./assets/download.png" alt="descargar"></a>
          </p>
          <p class="d-text text-white">
            Presentación sucinta con los principales enunciados que
            enmarcan nuestra declaración de principios.
          </p>
        </div>
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-Plandeaccion.png" alt="DOCUMENTOS-Estatutos">
          <p class="d-title text-white my-2"> ESTATUS <a href="http://irhjal.org.mx/documentos-basicos/estatutos.ppsx" target="_blank"><img src="./assets/download.png"
                alt="descargar"></a>
          </p>
          <p class="d-text text-white">
            Presentación condensada de los artículos estatutarios
            del Partido.
          </p>
        </div>
      </div>
      <div class="row justify-content-around mt-xl-5">
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-Rendiciondecuentas.png" alt="DeclaraciondePrincipios">
          <p class="d-title text-white my-2"> PROGRAMA DE ACCIÓN <a href="http://irhjal.org.mx/documentos-basicos/programadeaccion.ppsx" target="_blank"><img src="./assets/download.png"
                alt="descargar"></a> </p>
          <p class="d-text text-white">
            Presentación descriptiva de cada uno de los ejes de
            acción y causas transversales.
          </p>
        </div>
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-Visiondelfuturo.png" alt="DOCUMENTOS-Estatutos">
          <p class="d-title text-white my-2"> VISIÓN DE FUTURO <a href="http://irhjal.org.mx/documentos-basicos/visiondefuturo.ppsx" target="_blank"><img src="./assets/download.png"
                alt="descargar"></a> </p>
          <p class="d-text text-white">
            Presentación sucinta que encuadra nuestro programa de
            acción acorde al México del siglo XXI que visualizamos.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- parte 3 -->
  <div class="mb-0 gray-texture py-5">
    <h1 class="txt-primary text-center h1"> GUÍA PARA EXÁMEN <br> FASE PREVIA </h1>
    <div class="container mt-5">
      <div class="row justify-content-around mt-xl-5">
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-GuiadeExamen.png" alt="DOCUMENTOS-Estatutos">
          <p class="d-title my-2"> GUÍA PARA EXAMEN <a href="http://irhjal.org.mx/documentos-basicos/Gu%C3%ADa%20Fase%20Previa.pdf" target="_blank"><img src="./assets/download.png" alt="descargar"></a>
          </p>
          <p class="d-text">
            El propósito de esta guía es ofrecer orientación sobre las características del examen de
            conocimientos, habilidades y aptitudes para el ejercicio de cargos de elección popular (Fase
            Previa) y proporcionar información sobre los aspectos más importantes del proceso de
            aplicación de la prueba.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>