<section class="container-fluid m-0 p-0">
  <div class="banner banner-img"></div>
  <!-- parte 1 -->
  <div class="mb-0 gray-texture py-5">
    <h1 class="txt-primary text-center h1"> CONVOCATORIAS </h1>
    <div class="container mt-5">
      <div class="row">
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/con1.png" alt="DeclaraciondePrincipios">
          <p class="d-title my-2"> ESCUELA DE CUADROS <a href="./assets/pdf/con1.pdf" target="_blank"><img src="./assets/download.png" alt="descargar"></a>
          </p>
          <p class="d-text">
            Dirigida a las y los aspirantes a ingresar al Proceso de Formación de la Escuela de Cuadros y obtener la
            categoría de Cuadro del Partido Revolucionario Institucional.
          </p>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-DeclaraciondePrincipios.png" alt="DeclaraciondePrincipios">
          <p class="d-title my-2"> DECLARACIÓN DE PRINCIPIOS <a href=""><img src="./assets/download.png"
                alt="descargar"></a> </p>
          <p class="d-text">
            ¿Cómo ser protagonistas de la transformación de México
            en el siglo XXI, manteniendo vigentes los valores de
            libertad, democracia, justicia social y soberanía?.
          </p>
        </div>
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-Estatutos.png" alt="DOCUMENTOS-Estatutos">
          <p class="d-title my-2"> ESTATUS<a href=""><img src="./assets/download.png" alt="descargar"></a> </p>
          <p class="d-text">
            Estatutos del Partido Revolucionario Institucional
            aprobados el 12 de agosto de 2017 en sesión plenaria
            durante XXII Asamblea Nacional Ordinaria.
          </p>
        </div>
        <div class="col-xl-4 col-12 text-center">
          <img src="./assets/DOCUMENTOS-Plandeaccion.png" alt="DOCUMENTOS-Estatutos">
          <p class="d-title my-2"> PROGRAMA DE ACCIÓN <a href=""><img src="./assets/download.png" alt="descargar"></a>
          </p>
          <p class="d-text">
            Los 6 ejes y las 4 causas transversales que articulan y
            dan sentido a nuestro programa de acción.
          </p>
        </div>
      </div> -->
    </div>
  </div>
</section>