section{
    overflow: hidden;
}

.banner-img{
    background-image: url('../../assets/CONVOCATORIAS-Banner.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 110%;
}